

spring:
  application:
    name: toyland
  jpa:
    open-in-view: false
    properties:
      hibernate:
        default_batch_fetch_size: 1000
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 50MB
  profiles:
    group:
      local:
        - local
      dev:
        - dev
    include:
      - springdoc
